<div class="card mb-3">
  <div class="card-header bg-info">
    Domande
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item">
        <div>
          Inviate
          <div class="badge badge-pill badge-info float-right">
            {{ statistics.totalActiveApplicationsEver }}
          </div>
        </div>
        <div class="text-secondary">
          Totali
          <div class="badge badge-pill badge-secondary float-right">
            {{ statistics.totalSubmissionsEver }}
          </div>
        </div>
      </li>
      <li class="list-group-item">
        Inviate oggi
        <div class="badge badge-pill badge-info float-right">
          {{ statistics.submittedToday }}
        </div>
      </li>
      <li class="list-group-item">
        Inviate negli ultimi 5 gg
        <div class="badge badge-pill badge-info float-right">
          {{ statistics.submittedInTheLastFiveDays }}
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="card">
  <div class="card-header bg-warning">
    Errori
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item">
        Codici fiscali duplicati
        <div class="badge badge-pill badge-danger float-right">
          {{ statistics.duplicateFiscalCodeErrors }}
        </div>
      </li>
      <li class="list-group-item">
        Altri errori
        <div class="badge badge-pill badge-danger float-right">
          {{ statistics.otherErrors }}
        </div>
      </li>
    </ul>
  </div>