<div class="row">
  <div class="col-sm-4 offset-sm-2">
    <ul class="list-group">
      <li class="list-group-item">
        <div>
          Domande inviate
          <div class="badge badge-pill badge-info float-right">
            {{ statistics.totalActiveApplicationsEver }}
          </div>
        </div>
        <div class="text-secondary">
          Domande totali
          <div class="badge badge-pill badge-secondary float-right">
            {{ statistics.totalSubmissionsEver }}
          </div>
        </div>
      </li>
      <li class="list-group-item">
        Domande inviate oggi
        <div class="badge badge-pill badge-info float-right">
          {{ statistics.submittedToday }}
        </div>
      </li>
      <li class="list-group-item">
        Domande inviate negli ultimi 5 giorni
        <div class="badge badge-pill badge-info float-right">
          {{ statistics.submittedInTheLastFiveDays }}
        </div>
      </li>
    </ul>
  </div>
  <div class="col-sm-4">
    <ul class="list-group">
      <li class="list-group-item">
        Codici fiscali duplicati
        <div class="badge badge-pill badge-danger float-right">
          {{ statistics.duplicateFiscalCodeErrors }}
        </div>
      </li>
      <li class="list-group-item">
        Altri errori
        <div class="badge badge-pill badge-danger float-right">
          {{ statistics.otherErrors }}
        </div>
      </li>
    </ul>
  </div>
</div>