
<form [formGroup]="userRegistrationForm" novalidate >
  <ng-template matStepLabel>Dati Anagrafici</ng-template>

  <div formGroupName="anagGroup">
    <table cellspacing="0">
      <tr>
        <td>
        <mat-form-field style="width:300px">
          <input matInput placeholder="Codice Fiscale" formControlName="codFis" required>
          <mat-error>
              {{errors.codFis}}
          </mat-error>
        </mat-form-field>
        </td>
        <td>
        <mat-form-field hidden>
          <input matInput placeholder="PIN">
        </mat-form-field>
        </td>
      </tr>
    </table>

    <table cellspacing="0">
        <tr>
          <td>
            <mat-form-field style="width:300px">
              <input matInput placeholder="Cognome" formControlName="cognome" required>
              <mat-error>
                  {{errors.cognome}}
              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field style="width:300px">
              <input matInput placeholder="Nome" formControlName="nome" required>
              <mat-error>
                  {{errors.nome}}
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
    </table>

    <mat-form-field>
      <input matInput [matDatepicker]="pickerNascita" placeholder="Data di nascita" formControlName="nascita" required>
        <mat-datepicker-toggle matSuffix [for]="pickerNascita"></mat-datepicker-toggle>
        <mat-datepicker #pickerNascita></mat-datepicker>
        <mat-error>
            {{errors.nascita}}
        </mat-error>
    </mat-form-field>

    <div>
    <mat-form-field>
      <input type="tel" matInput placeholder="Recapito telefonico" formControlName="nome" required>
      <mat-error>
          {{errors.tel}}
      </mat-error>
    </mat-form-field>
    </div>
  </div>

  <div formGroupName="emailGroup">
    <div>
      <mat-form-field style="width:350px">
        <input matInput placeholder="Email" type="email" formControlName="email" required>
          <mat-error>
            {{errors.email}}
          </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field style="width:350px">
        <input matInput placeholder="Conferma email" type="email" formControlName="confirmEmail"
          [errorStateMatcher]="confirmValidParentMatcher" required>
          <mat-error>
            {{errors.confirmEmail}}
          </mat-error>
      </mat-form-field>
    </div>
  </div>
  

<div>
  <mat-form-field style="width:350px">
    <mat-select placeholder="Sedi di servizio" multiple required>
      <mat-optgroup *ngFor="let group of sediGroups" [label]="group.name" [disabled]="group.disabled">
        <mat-option *ngFor="let sede of group.sede" [value]="sede.value">
          {{ sede.viewValue }}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <mat-form-field style="width:250px">
    <input matInput placeholder="Giorni di servizio al 31/12/2017" type="number" class="text-align: right;" [formControl]="numberDaysFormControl"
        [errorStateMatcher]="matcher" required>
    <mat-error *ngIf="numberDaysFormControl.hasError('min')">
        Inserire un numero maggiore di zero
    </mat-error>
  </mat-form-field>
</div>


<mat-form-field floatPlaceholder="always">
    <!-- the matInput with display:none makes the magic. It's ugly, I've warned you -->
    <input matInput placeholder="Patenti" style="display: none">
      <mat-radio-group>
        <mat-radio-button #showCivile [checked]="isChecked" (change)="onChange($event)" value="civile">civile</mat-radio-button>
        <mat-radio-button #showVVF [checked]="isChecked" (change)="onChange($event)" value="VVF">VVF</mat-radio-button>
      </mat-radio-group>
</mat-form-field>

  <div *ngIf="showCivile.checked">
    <table cellspacing="0">
      <tr>
        <td>
          <mat-form-field>
            <input matInput placeholder="Categoria" required>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="Numero" required>
          </mat-form-field>
        </td>
      </tr>
    </table>
      
    <table cellspacing="0" >
      <tr>
        <td>
          <mat-form-field >
            <mat-select placeholder="Ente" required>
              <mat-option value="prefettura">Prefettura</mat-option>
              <mat-option value="motorizzazione">Motorizzazione</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput [matDatepicker]="pickerRilascio" placeholder="Data di rilascio" required>
              <mat-datepicker-toggle matSuffix [for]="pickerRilascio"></mat-datepicker-toggle>
              <mat-datepicker #pickerRilascio></mat-datepicker>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <div>
      <mat-form-field>
        <input matInput [matDatepicker]="pickerScadenza" placeholder="Data di scadenza" required>
          <mat-datepicker-toggle matSuffix [for]="pickerScadenza"></mat-datepicker-toggle>
          <mat-datepicker #pickerScadenza></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="showVVF.checked" >
    <table cellspacing="0">
      <tr>
        <td>
          <mat-form-field>
            <input matInput placeholder="Categoria" required>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="Numero" required>
          </mat-form-field>
        </td>
      </tr>
    </table>
      
    <table cellspacing="0">
      <tr>
        <td>
          <mat-form-field>
            <input matInput placeholder="Ente" value="D.C. per la  Formazione" readonly>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput [matDatepicker]="pickerRilascio" placeholder="Data di rilascio" required>
              <mat-datepicker-toggle matSuffix [for]="pickerRilascio"></mat-datepicker-toggle>
              <mat-datepicker #pickerRilascio></mat-datepicker>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <div>
      <mat-form-field>
        <input matInput [matDatepicker]="pickerScadenza" placeholder="Data di scadenza" required>
          <mat-datepicker-toggle matSuffix [for]="pickerScadenza"></mat-datepicker-toggle>
          <mat-datepicker #pickerScadenza></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <mat-divider></mat-divider>
  
  <div class="light">
    I dati raccolti saranno utilizzati esclusivamente per le finalità legate al presente concorso. Saranno conservati per il
    tempo strettamente necessario e successivamente cancellati. Non saranno in nessun caso divulgati a terzi.
    <mat-checkbox required>Autorizzo il trattamento dei dati esclusivamente per le finalità indicate di sopra (D.Lgs. 196/2003).</mat-checkbox>
  </div>

  <button mat-raised-button [disabled]="userRegistrationForm.invalid" (click)="register()">Register</button>

  <button mat-raised-button (click)="register()">Register</button>


</form>
