<BR>
<BR>
 <div class="row">
     <h5>Dati Anagrafici</h5> 
  </div>   
  <BR>
  <div class="row">
   <div class="col-4">
      <dl> 
          <dt>Codice Fiscale</dt>   
          <!-- <DD>{{ application.fiscalCode }}</DD> -->
          <dd>Valore </dd>  
           <BR>  
       <DT>Telefono</DT>
         <!-- <DD>{{ application.phoneNumber }}</DD> -->
         <DD>Valore </DD>
     </dl>
  </div>
  <div class="col-4">
     <dl>
       <dt>Nominativo</dt>
      <!-- <DD>{{ application.fullName }}</DD> -->
        <dd>Valore </dd>
      <BR>  
      <DT>Email</DT>
        <DD>Valore </DD>
        <!-- <DD>{{ application.eMail }}</DD> -->
     </dl>
  </div>
  <div class="col-4">
     <dl>
        <dt>Data di nascita</dt>
          <!-- <DD>{{ application.birthDate }}</DD> -->
          <dd>Valore </dd>
        <BR>  
        <DT>Patente di Guida</DT>
          <DD>Valore </DD>
          <!-- <DD>{{ application.drivingLicense }}</DD>     -->
     </dl>
  </div>   
  </div>
  <BR>
  <BR>
  <div class="row">
      <h5>Info Domanda</h5> 
   </div>   
   <BR> 
   <div class="row">
    <div class="col-4">
       <dl> 
         <DT>Giorni lavorativi</DT>
          <DD>Valore </DD>
            <!-- <DD>{{ application.workingDays }}</DD> -->
      </dl>
   </div>
   <div class="col-4">
      <dl>
          <DT>Unità Operative</DT>
          <DD>Valore </DD>
            <!-- <DD>{{ application.businessUnits }}</DD> -->
      </dl>
   </div>
   <div class="col-4">
      <dl>
          <DT>Data invio</DT>
          <DD>Valore </DD>
            <!-- <DD>{{ application.submissionTime }}</DD> -->
      </dl>
   </div>   
   </div>
   <BR>
   <BR>
   <div class="row">
      <h5>Anomalie</h5> 
   </div>   
   <BR> 
   <div class="row">
     <div class="col-4">
        <dl> 
          <dt>Data rilevazione</dt>   
            <!-- <DD>{{ application.detectionTime }}</DD> -->
            <dd>Valore </dd>
        </dl> 
     </div>
     <div class="col-8"> 
       <dl>
          <DT>Informazioni</DT>
            <!-- <DD>{{ application.info }}</DD>   -->
            <DD>Valore </DD>
        </dl>  
     </div>   
  </div>   
   