<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <div>
      <div style="">
        <div style="margin: auto; width: 30%;padding-top: 1em;">
          <a>
            <mat-icon class="circle" style="font-size: 75px;">account_circle</mat-icon>
          </a>
        </div>
        <div>
          <p style="text-align: center; font-weight: bold;">Mario Rossi</p>
        </div>
      <mat-toolbar style="background-color: #AB201D; color: white">Menu</mat-toolbar>
      </div>
      <mat-nav-list>
        <a mat-list-item style="font-size: 14px" [routerLink]="['/submission-result']"> <mat-icon style="padding-right: 1em;">notes</mat-icon> MIA DOMANDA</a>
        <a mat-list-item style="font-size: 14px" [routerLink]="['/main-form']"> <mat-icon style="padding-right: 1em;">edit</mat-icon> MODIFICA DOMANDA</a>
        <a href="javascript:window.print()" mat-list-item style="font-size: 14px" *ngIf="showPrint()" > <mat-icon style="padding-right: 1em;">print</mat-icon> STAMPA DOMANDA</a>

        <div style="padding-top: 2em;">
          <mat-toolbar style="background-color: #AB201D; color: white">Altro</mat-toolbar>
          <a mat-list-item style="font-size: 14px" [routerLink]="['/submission-result']"> <mat-icon style="padding-right: 1em;">help</mat-icon> FAQ </a>
          <a mat-list-item style="font-size: 14px" [routerLink]="['/submission-result']"> <mat-icon style="padding-right: 1em;">comment</mat-icon> ASSISTENZA </a>
        </div>
      </mat-nav-list>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color: #AB201D; color: white;">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>CONCORSO DAC</span>

      <span class="spacer"></span>
      <button mat-button [routerLink]="['/']">ESCI
        <mat-icon>exit_to_app</mat-icon>
      </button>

    </mat-toolbar>
    <div class="bd">
      <ng-content></ng-content>
    </div>
    <!-- Add Content Here -->
  </mat-sidenav-content>

</mat-sidenav-container>
