@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #FAFAFA;
}




.content {
  max-width: 650px;
  margin: auto;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.mat-tab-labels{
  background-color: white;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #ab201d;
}

/* Change the color of links on hover */
.topnav a:hover {
  border-bottom: solid white 3px;
}

/* Add a color to the active/current link */
.topnav a.active {
  border-bottom: solid white 3px;
}

.light {
  color: gray;
  font-size: 80%;
}


.input-long {
  width: 340px;
}

.input-short {
  width: 150px;
}

.mb-small {
  margin-bottom: 20px;
}

.mt-large {
  margin-top: 50px;
}

.center {
  text-align: center;
}

.field-val {
  font-weight: bold;
}

.right-aligned-header > .mat-content {
  justify-content: space-between;
}

.mat-content > mat-panel-title, .mat-content > mat-panel-description {
  flex: 0 0 auto;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}


