<mat-card>
  <app-spid-data></app-spid-data>

  <span class="empty-space"></span>

  <!-- DATI ISTRUZIONE -->

  <form [formGroup]="applicationForm">
    <div formGroupName="personalData">
      <div class="layout">
        <mat-form-field class="col col-main">
          <input matInput
                 [errorStateMatcher]="matcher"
                 [formControl]="istitutoFrequentato"
                 placeholder="Istituto Frequentato"
                 maxLength="255">
          <mat-hint align="end">{{istitutoFrequentato.value?.length || 0}}/255</mat-hint>
          <mat-hint>Es: Ceccherelli</mat-hint>

          <mat-error *ngIf="istitutoFrequentato.hasError('required')">
            Campo Obbligatorio
          </mat-error>
          <mat-error *ngIf="istitutoFrequentato.hasError('mialength')">
            I caratteri massimi sono 255
          </mat-error>
          <mat-error *ngIf="istitutoFrequentato.hasError('minlength')">
            I caratteri minimi sono 2
          </mat-error>
          <mat-error *ngIf="istitutoFrequentato.hasError('noWhitespaces')">
            I campi non possono iniziare o finire con gli spazi
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col col-main">
          <input matInput
                 placeholder="Tipo di diploma conseguito"
                 [errorStateMatcher]="matcher"
                 maxLength="255"
                 [formControl]="tipoDiploma">

          <mat-hint align="end">{{tipoDiploma.value?.length || 0}}/255</mat-hint>
          <mat-hint>Es: Commerciale</mat-hint>

          <mat-error *ngIf="tipoDiploma.hasError('required')">Campo Obbligatorio</mat-error>
          <mat-error *ngIf="tipoDiploma.hasError('maxlength')">Hai superato il limite dei caratteri</mat-error>
          <mat-error *ngIf="tipoDiploma.hasError('noWhitespaces')">I campi non possono iniziare o finire con gli spazi
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col col-complementary">
          <input matInput
                 placeholder="Anno Diploma"
                 [errorStateMatcher]="matcher"
                 [formControl]="annoDiploma"
                 maxlength="4"
                 minlength="4">

          <mat-hint>Es: 1885</mat-hint>

          <mat-error *ngIf="annoDiploma.hasError('onlyNumber')">Inserire nel campo solo numberi</mat-error>
          <mat-error *ngIf="annoDiploma.hasError('max')">L'anno è superiore all'anno corrente</mat-error>
          <mat-error *ngIf="annoDiploma.hasError('noWhitespaces')">I campi non possono iniziare o finire con gli spazi
          </mat-error>
          <mat-error *ngIf="annoDiploma.hasError('minlength')">L'anno deve avere solo 4 numeri</mat-error>
          <mat-error *ngIf="annoDiploma.hasError('maxlength')">L'anno deve avere solo 4 numeri</mat-error>
        </mat-form-field>

      </div>

      <div class="layout">
        <mat-form-field class="col col-main">
          <mat-select [formControl]="provinciaIstituto"
                      placeholder="Seleziona Provincia istituto"
                      #singleSelect>
            <ngx-mat-select-search [noEntriesFoundLabel]="'Nessun risultato'"
                                   [placeholderLabel]="'Cerca provincia . . '"
                                   [formControl]="provinceDropdown"></ngx-mat-select-search>
            <mat-option *ngFor="let prov of (filteredBanks | async)" [value]="prov">
              {{prov}}
            </mat-option>
          </mat-select>
          <mat-hint>Es: Roma</mat-hint>
        </mat-form-field>

        <mat-form-field class="col col-main">
          <mat-select [formControl]="comuneIstituto"
                      placeholder="Seleziona Comune istituto"
                      #singleSelect>
            <ngx-mat-select-search [noEntriesFoundLabel]="'Nessun risultato'"
                                   [placeholderLabel]="'Cerca comune . . '"
                                   [formControl]="comuniDropdown"></ngx-mat-select-search>
            <mat-option *ngFor="let prov of (filteredComuni | async)" [value]="prov">
              {{prov}}
            </mat-option>
          </mat-select>
          <mat-hint>Es: Roma</mat-hint>
        </mat-form-field>

        <mat-form-field class="col-main">
          <input matInput
                 [errorStateMatcher]="matcher"
                 [formControl]="viaIstituto"
                 maxlength="255"
                 placeholder="Sede Istituto">

          <mat-hint align="end">{{viaIstituto.value?.length || 0}}/255</mat-hint>
          <mat-hint>Es: Via Capiri</mat-hint>

          <mat-error *ngIf="viaIstituto.hasError('maxlength')">Hai superato il limite dei caratteri</mat-error>
          <mat-error *ngIf="viaIstituto.hasError('noWhitespaces')">I campi non possono iniziare o finire con gli spazi
          </mat-error>

        </mat-form-field>
      </div>
    </div>
  </form>

  <!-- FINE DATI ISTRUZIONE -->

  <span class="empty-space"></span>

  <!-- ALTRI DATI-->
  <form [formGroup]="applicationForm">
    <div formGroupName="personalData">


      <mat-form-field class="example-full-width">
        <mat-select
          (mouseenter)="tooltip.show()"
          placeholder="Seleziona Lingua"
          #tooltip="matTooltip"
          matTooltip="Seleziona la lingua, la lingua straniera selezionata verrà usata per l'interrogazione"
          name="linguaColloquio"
          [errorStateMatcher]="matcher"
          [formControl]="linguaSelezionata"
          required>
          <mat-option *ngFor="let lingua of lingueStraniere; let i = index" [value]="i">
            {{lingua.lingua}}
          </mat-option>
        </mat-select>

      </mat-form-field>

      <mat-form-field class="example-full-width hide-list">
        <mat-select placeholder="Seleziona Titoli"
                    [errorStateMatcher]="matcher"
                    [formControl]="titoloPref"
                    name="titoloPref"
                    class="mat-list-item-word-wrap"
                    multiple>


          <mat-select-trigger>
            TITOLI SELEZIONATI
          </mat-select-trigger>

          <mat-option *ngFor="let tit of elencoTitoliPreferenziali; let i = index" [value]="i">
            {{i}}: {{tit.titolo}}
          </mat-option>

        </mat-select>
      </mat-form-field>

      <mat-list>
        <mat-list-item *ngFor="let x of titoloPref.value;">
          {{returnTitoliSelectedValue(x)}}
        </mat-list-item>
      </mat-list>


      <div *ngIf="titoloPref.value.includes(16)">
        <mat-form-field class="example-full-width">

          <mat-select placeholder="Seleziona numero dei figli a carico"
                      [errorStateMatcher]="matcher"
                      [formControl]="numeroFigli"
                      name="numeroFigliCarico">


            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
            <mat-option value="4">4</mat-option>
            <mat-option value="5">5+</mat-option>
          </mat-select>

          <mat-error *ngIf="numeroFigli.hasError('required')">Campo Obbligatorio</mat-error>

        </mat-form-field>

      </div>

      <div>
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Seleziona la riserva"
                      [errorStateMatcher]="matcher"
                      [formControl]="riserve"
                      name="riserve"
                      multiple>

            <mat-select-trigger>
              RISERVE SELEZIONATE
            </mat-select-trigger>

            <mat-option *ngFor="let value of elencoRiserve; let i = index" [value]="i">
              {{value.riserva}}
            </mat-option>

          </mat-select>

        </mat-form-field>

        <mat-list *ngFor="let x of riserve.value;" style="padding: 1em;">
          <div>
            {{returnRiserveSelectedValue(x)}}
          </div>
        </mat-list>


      </div>

      <div>
        <p>Appartieni alle categorie protette ?</p>
        <mat-form-field class="example-full-width">
          <mat-select placeholder="SI / NO"
                      [errorStateMatcher]="matcher"
                      [formControl]="catProtette"
                      name="catProtette">

            <mat-option value="3">NO</mat-option>
            <mat-option value="4">SI</mat-option>
          </mat-select>

        </mat-form-field>
        <div *ngIf="catProtette.value.includes('4')" class="layout">

          <mat-form-field class="col-complementary">
            <input matInput
                   placeholder="Percentuale invalidità"
                   [errorStateMatcher]="matcher"
                   [formControl]="percInvalidita"
                   maxlength="3"
                   minlength="1"
            >
            <span matPrefix>%&nbsp;</span>
            <mat-hint>Es 44</mat-hint>

            <mat-error *ngIf="percInvalidita.hasError('required')">Campo Obbligatorio</mat-error>
            <mat-error *ngIf="percInvalidita.hasError('onlyNumber') || percInvalidita.hasError('noWhitespaces')">
              Inserire nel campo solo numberi
            </mat-error>
            <mat-error *ngIf="percInvalidita.hasError('minlength')">Superato soglia dei caratteri minimi</mat-error>
            <mat-error *ngIf="percInvalidita.hasError('maxlength')">Superato soglia dei caratteri massimi</mat-error>
            <mat-error *ngIf="percInvalidita.hasError('max')">Percentuale inesistente</mat-error>
          </mat-form-field>
          <mat-form-field class="col-main">
            <input matInput
                   [errorStateMatcher]="matcher"
                   [formControl]="dataCertificazione"
                   [matDatepicker]="picker"
                   [max]="maxDate"
                   placeholder="Data certificazione">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>

            <mat-error *ngIf="dataCertificazione.hasError('required')">Campo Obbligatorio</mat-error>


          </mat-form-field>
          <mat-form-field class="col-main">
            <input matInput
                   [errorStateMatcher]="matcher"
                   [formControl]="invaliditaEnte"
                   placeholder="Rilasciato Da"
                   maxlength="255"
                   name="invdaliditaEnte">

            <mat-hint>Es: INPS di Roma</mat-hint>

            <mat-error *ngIf="invaliditaEnte.hasError('required')">Campo Obbligatorio</mat-error>
            <mat-error *ngIf="invaliditaEnte.hasError('maxlength')">Hai superato il limite dei caratteri</mat-error>
            <mat-error *ngIf="invaliditaEnte.hasError('noWhitespaces')">I campi non possono iniziare o finire con gli
              spazi
            </mat-error>
          </mat-form-field>

          <div>
            <br>
            <mat-checkbox name="drto_ausili" color="accent"
                          [formControl]="drto_ausili">Dichiaro di avere diritto ad usufruire di ausili per lo
              svolgimento delle prove d'esame
            </mat-checkbox>
            <br>
            <div class="interlinea">
            </div>
            <mat-checkbox name="drto_tempiAggiuntivi" color="accent"
                          [formControl]="drto_tempiAggiuntivi"> Dichiaro di avere diritto ad usufruire di eventuali
              tempi aggiuntivi
            </mat-checkbox>
            <br>
            <div class="interlinea">
            </div>
            <mat-checkbox name="drto_esenzioneProvaPresel" color="accent"
                          [formControl]="drto_esenzioneProvaPresel">Dichiaro di avere diritto, in quanto affetto da
              invalità uguale o superiore all'80%, a non effettuare l'eventuale prova preselettiva
            </mat-checkbox>
          </div>

        </div>


      </div>
    </div>
  </form>
  <!--Fine altri Dati-->
  <span class="empty-space"></span>


  <!--Inizio consenso Dati-->
  <form class="example-form">
    <div>
      <p>
        Dichiara di essere in possesso dell’idoneità fisica all’impiego e di essere a conoscenza che l’amministrazione
        ha
        la facoltà di sottoporre a visita medica di controllo i vincitori di concorso, in base alla normativa vigente
      </p>

      <p>
        Dichiara di essere in possesso dell’idoneità fisica all’impiego e di essere a conoscenza che l’amministrazione
        ha
        la facoltà di sottoporre a visita medica di controllo i vincitori di concorso, in base alla normativa vigente
      </p>

      <p>
        Dichiara di non avere riportato condanne a pena detentiva per reati non colposi;
      </p>

      <p>
        Dichiara di non essere stati sottoposti a misure di prevenzione
      </p>
    </div>

    <div class="mat-typography center">
      <br>
      <mat-checkbox name="idoneita" color="accent"
                    [formControl]="idoneita">
        Confermo
      </mat-checkbox>
    </div>

  </form>
</mat-card>
<!--Fine consenso Dati-->

<div class="interlinea">

  <div class="light">
    I dati raccolti saranno utilizzati esclusivamente per le finalità legate al presente concorso. Saranno conservati
    per il
    tempo strettamente necessario e successivamente cancellati. Non saranno in nessun caso divulgati a terzi.
  </div>
  <div class="light" style="padding-top: 10px;padding-bottom: 10px;">
    <mat-checkbox name="gdprCompliancy"
                  [formControl]="gdprCompliancy">
      Autorizzo il trattamento dei dati esclusivamente per le finalità indicate di sopra (Regolamento EU/2016/679).
    </mat-checkbox>
    <a target="_blank" href="file://#/normativa.pdf">Leggi la normativa</a>
  </div>
</div>

<section class="mat-typography center">
  <button mat-raised-button (click)='sendForm()' type="submit" [disabled]="!isDone()">
    {{testoDomanda}}
  </button>



</section>
