#content-spid {
    /*background-color: #f5f5f5;*/
    /*border-radius: 15px;*/
    /*box-shadow: 0 5px 20px #036;*/
    margin: 0 auto;
    max-width: 760px;
    padding: 30px 40px;
    height: 400px;
}

#content-spid p {
    text-align: justify;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

#content-spid ul li{
    text-align: left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

#content-spid h4 {
    text-align: left;
    font-weight: bold;
    padding-bottom: 10px;
}

#attribute-spid li p{
    margin-bottom: 0 !important;
}