<nav class="navbar fixed-top navbar-expand navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <i class="fa fa-vcard-o"></i>
    PCA Backoffice
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="isLoggedIn()" class="nav-item">
        <a class="nav-link" (click)="exportData()" href="javascript:void(0)">
          <i class="fa fa-file-excel-o" data-toggle="tooltip" data-placement="top" title="Export data in CSV format"></i>
          Export
        </a>
      </li>
      <li *ngIf="isLoggedIn()" class="nav-item">
        <a class="nav-link" (click)="logout()" href="javascript:void(0)">
          <i class="fa fa-user"></i>
          Exit
        </a>
      </li>
    </ul>
  </div>

  <div *ngIf="isLoggedIn()">
    <div>
      <search-box></search-box>
    </div>
  </div>

</nav>