<nav class="navbar fixed-top navbar-expand navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <i class="fa fa-vcard-o"></i>
    PCA Backoffice
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="isLoggedIn()" class="nav-item">
        <a class="nav-link" (click)="logout()" href="javascript:void(0)">
          <i class="fa fa-user"></i>
          Esci
        </a>
      </li>
    </ul>
  </div>
 
  

  <div class="mr-3">
    <a *ngIf="isLoggedIn()" [href]="fileUrl" class="btn btn-outline-primary" role="button" aria-pressed="true" (click)="downloadFile()" download="dany.pdf">
      <i class="fa fa-file-excel-o fa-lg" data-toggle="tooltip" data-placement="top" title="Esporta in excel"></i>
    </a>
  </div>
  <!---<button type="button" class="btn btn-outline-dark" (click)="downloadFile()"><i class="fa fa-file-excel-o" data-toggle="tooltip" data-placement="top" title="Esporta in excel"></i></button> -->
  <div *ngIf="isLoggedIn()">
    <search-box></search-box>
  </div>


</nav>