<nav class="navbar fixed-top navbar-expand navbar-light bg-light">
  <a class="navbar-brand" href="#">
      <i class="fa fa-vcard-o"></i>
      PCA Backoffice
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <button (click)="exportAsXLSX()"><i class="fa fa-file-excel-o" data-toggle="tooltip" data-placement="top" title="Esporta"></i></button>
 
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="isLoggedIn()" class="nav-item">
        <a class="nav-link" (click)="logout()" href="javascript:void(0)">
          <i class="fa fa-user"></i>
          Esci
        </a>
      </li>
     </ul>
   </div>
  
  <div class="col-3">  
    <div class="input-group pull-right">
        <input type="text" class="form-control" placeholder="Cerca..."   (keyup)="ricerca($event)">
        <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" (click)="clearSearchText()"><i class="fa fa-times" aria-hidden="true"></i></button>
        </span>
    </div>
  </div>  

</nav>