.body {
  width:60%;
  margin:0 auto;
}

#content {
  position: relative;
}
#content img {
  position: absolute;
  top: 0px;
  right: 0px;
}

.example-form {
  min-width: 150px;
  max-width: 100%;
  width: 100%;
}

.example-full-width {
  width: 100%;
}



/deep/ .mat-checkbox-layout {
  white-space: normal !important;
}

.interlinea {
  margin-bottom:10px;
}

.interlinea {
  margin-bottom:10px;
}

.mat-form-field {
  padding-top:5px;
}

mat-form-field {
  margin-right: 8px;
}


/deep/ .mat-select-panel mat-option.mat-option {
  height: unset;
}


#spid-logo {
  position: relative;
  text-align: right;
}


/deep/ .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: red;
}

.test {
  color:red;
}



/* Flex Layout: */

.col-main {
  flex: 2;
}

.col-complementary {
  flex: 1;
}


@media only screen and (min-width: 640px) {
  .layout {
    display: flex;
    flex-wrap: wrap;
  }
}

/* etc */

body {
  margin: 1.5em;
}

.container {
  max-width: 90em;
  margin-right: auto;
  margin-left: auto;
}

.col {
  padding-right:1em;
  margin: 0 2px 2px 0;
}


