<div class="interlinea">
  <p>
    Completa il modulo riportato di sotto con tutti i dati richiesti. Al termine premi il tasto
    <em>Invia la domanda</em>. Riceverai un codice che ti servirà nel caso volessi aggiornare la tua domanda in
    seguito.
    Procedi a compilare il modulo anche se vuoi aggiornare una domanda precedentemente inviata, avendo il PIN a portata
    di mano. Il sistema ti guiderà per recuperare i dati già inviati.
  </p>
</div>

<form [formGroup]="applicationForm">
  <div class="interlinea">
    <mat-card>
      <div formGroupName="personalData">
        <mat-card *ngIf="!!personalDataValidationMessages">
          <p *ngFor="let msg of personalDataValidationMessages">
            <mat-icon color="accent" *ngIf="msg.type === 'Error'">error_outline</mat-icon>
            <mat-icon color="warn" *ngIf="msg.type === 'Warning'">warning</mat-icon>
            <mat-icon color="primary" *ngIf="msg.type === 'Success'">check_circle_outline</mat-icon>
            {{ msg.msg }}
          </p>
        </mat-card>

        <div>
          <mat-form-field>
            <input matInput placeholder="Codice Fiscale" formControlName="fiscalCode" maxLength="16">
            <mat-error *ngIf="fiscalCode.invalid && (fiscalCode.dirty || fiscalCode.touched)">
              <div *ngIf="fiscalCode.errors.required">
                Obbligatorio
              </div>
              <div *ngIf="fiscalCode.errors.minlength || fiscalCode.errors.maxlength">
                Deve avere 16 caratteri
              </div>
            </mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="shouldShowPinBox" appearance="outline">
            <input matInput placeholder="PIN" formControlName="pin" maxLength="6">
            <mat-error *ngIf="pin.invalid && (pin.dirty || pin.touched)">
              <div *ngIf="pin.errors.minlength || pin.errors.maxlength">
                Deve avere 6 caratteri
              </div>
            </mat-error>
            <mat-hint>
              Inserisci qui il PIN ricevuto
            </mat-hint>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <input matInput placeholder="Nome" formControlName="firstName" maxLength="30">
            <mat-error *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
              <div *ngIf="firstName.errors.required">
                Obbligatorio
              </div>
              <div *ngIf="firstName.errors.minlength">
                Deve avere almeno 2 caratteri
              </div>
              <div *ngIf="firstName.errors.maxlength">
                Deve avere al massimo 30 caratteri
              </div>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Cognome" formControlName="lastName" maxLength="30">
            <mat-error *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
              <div *ngIf="lastName.errors.required">
                Obbligatorio
              </div>
              <div *ngIf="lastName.errors.minlength">
                Deve avere almeno 2 caratteri
              </div>
              <div *ngIf="lastName.errors.maxlength">
                Deve avere al massimo 30 caratteri
              </div>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Data di nascita"
              formControlName="birthDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div formGroupName="email">
        <div>
          <mat-form-field class="input-long">
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
              <div *ngIf="email.errors.required">
                Obbligatorio
              </div>
              <div *ngIf="email.errors.email">
                Non è valida
              </div>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="input-long">
            <input matInput placeholder="Conferma Email" formControlName="emailConfirmation">
            <mat-error *ngIf="emailConfirmation.invalid && (emailConfirmation.dirty || emailConfirmation.touched)">
              <div *ngIf="!!emailConfirmation.errors.mismatch">
                Le email non corrispondono
              </div>
            </mat-error>
          </mat-form-field>
        </div>

      </div>
    </mat-card>
    <mat-divider class="interlinea"></mat-divider>
    <mat-card>
      <div formGroupName="workInfo">
        <div class="interlinea">
          <mat-form-field class="input-short">
            <input matInput placeholder="Giorni lavorati" formControlName="workedDays" type="number" min=0>
            <mat-error *ngIf="workedDays.invalid && (workedDays.dirty || workedDays.touched)">
              <div *ngIf="workedDays.errors.required">
                Obbligatorio
              </div>
              <div *ngIf="workedDays.errors.min || workedDays.errors.max || workedDays.errors.pattern">
                Inserisci un numero tra 1 e 9999
              </div>
            </mat-error>
            <mat-hint>Svolti fino al 31/12/2017</mat-hint>
          </mat-form-field>

          <mat-form-field style="width: 70%">
            <mat-select placeholder="Sedi di servizio" multiple formControlName="businessUnits">
              <!-- <input type="text" matInput placeholder="Sedi di servizio" multiple formControlName="businessUnits" [matAutocomplete]="autoGroup"> -->
              <!-- <mat-autocomplete #autoGroup="matAutocomplete"> -->
              <mat-optgroup *ngFor="let group of buGroups" [label]="group.name" [disabled]="group.disabled">
                <mat-option *ngFor="let bu of group.bu" [value]="bu.value">
                  {{ bu.viewValue }}
                </mat-option>
              </mat-optgroup>
              <!-- </mat-autocomplete> -->
            </mat-select>
            <mat-hint>Dove hai prestato servizio?</mat-hint>
            <mat-hint align="end" *ngIf="businessUnits.value.length > 0">{{ businessUnits.value.length }} selezionati</mat-hint>
            <mat-error *ngIf="businessUnits.invalid && (businessUnits.dirty || businessUnits.touched)">
              <div *ngIf="businessUnits.errors.required">
                Obbligatorio
              </div>
            </mat-error>
          </mat-form-field>




        </div>
        <div>
          <mat-radio-group>
            <mat-hint> Che tipo di patente hai? </mat-hint>
            <mat-radio-button (change)="selectLicense($event)" value="VVF" style="margin-right: 40px">VVF</mat-radio-button>
            <mat-radio-button (change)="selectLicense($event)" value="CIV">Civile</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div formGroupName="licenseInfo">

        <div *ngIf="civilLicenseSelected || vvfLicenseSelected">


          <mat-form-field *ngIf="civilLicenseSelected">
            <mat-select placeholder="Categoria" formControlName="category">
              <mat-option *ngFor="let pat of catPatentiCiv" [value]="pat.value">
                {{ pat.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="category.invalid && (category.dirty || category.touched)">
              <div *ngIf="category.errors.required">
                Obbligatorio
              </div>
            </mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="vvfLicenseSelected">
            <mat-select placeholder="Categoria" formControlName="category">
              <mat-optgroup *ngFor="let group of catPatentiVvf" [label]="group.name" [disabled]="group.disabled">
                <mat-option *ngFor="let pat of group.pat" [value]="pat.value">
                  {{ pat.viewValue }}
                </mat-option>
              </mat-optgroup>
            </mat-select>
            <mat-error *ngIf="category.invalid && (category.dirty || category.touched)">
              <div *ngIf="category.errors.required">
                Obbligatorio
              </div>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Numero" formControlName="number">
            <mat-error *ngIf="number.invalid && (number.dirty || number.touched)">
              <div *ngIf="number.errors.required">
                Obbligatorio
              </div>
            </mat-error>
          </mat-form-field>
          <mat-form-field *ngIf="civilLicenseSelected">
            <mat-select placeholder="Ente" formControlName="releasedBy">
              <mat-option value="prefettura">Prefettura</mat-option>
              <mat-option value="motorizzazione">Motorizzazione</mat-option>
            </mat-select>
            <mat-error *ngIf="releasedBy.invalid && (releasedBy.dirty || releasedBy.touched)">
              <div *ngIf="releasedBy.errors.required">
                Obbligatorio
              </div>
            </mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="vvfLicenseSelected">
            <input matInput placeholder="Ente" formControlName="releasedBy" readonly>
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="pickerRilascio" placeholder="Data di rilascio" formControlName="releaseDate">
            <mat-datepicker-toggle matSuffix [for]="pickerRilascio"></mat-datepicker-toggle>
            <mat-datepicker #pickerRilascio></mat-datepicker>
            <mat-error *ngIf="releaseDate.invalid && (releaseDate.dirty || releaseDate.touched)">
              <div *ngIf="releaseDate.errors.required">
                Obbligatorio
              </div>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="pickerScadenza" placeholder="Data di scadenza" formControlName="validUntil">
            <mat-datepicker-toggle matSuffix [for]="pickerScadenza"></mat-datepicker-toggle>
            <mat-datepicker #pickerScadenza></mat-datepicker>
            <mat-error *ngIf="validUntil.invalid && (validUntil.dirty || validUntil.touched)">
              <div *ngIf="!!validUntil.errors.required">
                Obbligatorio
              </div>
              <div *ngIf="!!validUntil.errors.invalid">
                Ricontrolla le date
              </div>
            </mat-error>
          </mat-form-field>
        </div>

      </div>
    </mat-card>
  </div>
  <div class="interlinea" formGroupName="gdprCompliancy">

    <div class="light">
      I dati raccolti saranno utilizzati esclusivamente per le finalità legate al presente concorso. Saranno conservati
      per il
      tempo strettamente necessario e successivamente cancellati. Non saranno in nessun caso divulgati a terzi.
    </div>
    <div class="light" style="padding-top: 10px;padding-bottom: 10px;">
      <mat-checkbox formControlName="acceptance">
      </mat-checkbox>
      <span>
        Autorizzo il trattamento dei dati esclusivamente per le finalità indicate di sopra (Regolamento EU/2016/679).
      </span>

      <div style="padding-top: 10px;">
        <a target="_blank" href="file://{{outputPath}}/normativa.pdf">Leggi la normativa</a>
      </div>
    </div>
  </div>

  <button *ngIf="!submitting" mat-raised-button color="primary" [disabled]="!applicationForm.valid" (click)='sendForm()'>Invia
    la domanda</button>
  <!-- <button mat-raised-button color="primary" (click)='sendForm()'>Invia la domanda</button> -->

</form>