<div *ngIf="!page" class="row">
    <i class="fa fa-spinner fa-pulse fa-fw fa-3x"></i>
</div>

<div *ngIf="!!page" class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">&nbsp;&nbsp;</th>
                <th scope="col">&nbsp;&nbsp;Nominativo</th>
                <th scope="col">&nbsp;&nbsp;Codice Fiscale</th>
                <th scope="col">&nbsp;&nbsp;Data invio</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of page.rows" [ngClass]="{'list-group-item-warning': row.hasAnomalies }">
                <td *ngIf="row.hasAnomalies">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                </td>
                <td *ngIf="!row.hasAnomalies">&nbsp;&nbsp;&nbsp;</td>
                <!-- <td><button type="button" class="btn btn-link text-muted" (click)="mostraApplication(row)">{{ row.fullName }}</button></td> -->
                <td>
                    <button type="button" class="btn btn-link text-muted" (click)="mostraApplication(row)">{{ row.fullName }}</button>
                </td>
                <td>
                    <button type="button" class="btn btn-link text-muted" (click)="mostraApplication(row)">{{ row.fiscalCode }}</button>
                </td>
                <td>{{ row.submittedAt | date : 'dd/MM/yyyy' }} {{ row.submittedAt | friendlyHour }}</td>
            </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <div class="footer text-right">
        <!--  page avanti e indietro -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-end">
                <span *ngIf="!this.firstPage; else disprev">
                    <li class="page-item">
                        <a class="page-link" (click)="onPrev()" href="#">Previous</a>
                    </li>
                </span>
                <ng-template #disprev>
                    <span>
                        <li class="page-item disabled">
                            <a class="page-link" (click)="onPrev()" href="#">Previous</a>
                        </li>
                    </span>
                </ng-template>

                <span *ngIf="!this.lastPage; else disnext">
                    <li class="page-item">
                        <a class="page-link" (click)="onNext()" href="#">Next</a>
                    </li>
                </span>
                <ng-template #disnext>
                    <span>
                        <li class="page-item disabled">
                            <a class="page-link" (click)="onNext()" href="#">Next</a>
                        </li>
                    </span>
                </ng-template>

            </ul>
            <span *ngIf="page.startIdx + page.howMany <= page.totalCount else ultimapage">
                <span>{{ page.startIdx + 1 }} - {{ page.startIdx + page.howMany }} di {{ page.totalCount }}</span>
            </span>

            <ng-template #ultimapage>
                <span>{{ page.startIdx + 1 }} - {{ page.totalCount }} di {{ page.totalCount }}</span>
            </ng-template>
        </nav>
        <!--  page avanti e indietro-->

        <!--  versione con numeri: da finire , gestire la disabilitazione dei numeri se non ci sono records.  -->

        <!--  <nav aria-label="...">
        <ul class="pagination justify-content-end">
                <span *ngIf="!this.firstPage; else disprev">
                        <li class="page-item"><a class="page-link" (click)="onPrev()" href="#">Previous</a></li>
                </span>
                <ng-template #disprev>
                    <span>
                       <li class="page-item disabled"><a class="page-link" (click)="onPrev()" href="#">Previous</a></li>
                    </span>
                </ng-template>

                    <span *ngFor="let i of totPage">    
                            <span *ngIf="this.numberPage == i"> 
                                  <span class="page-item active">
                                     <span class="page-link">{{ i }}<span class="sr-only">(current)</span>
                                  </span> 
                                </span>
                            </span>
                            <span *ngIf="this.numberPage != i">
                                     <span class="page-item disabled">
                                         <span class="page-link">{{ i }}
                                     </span> 
                                   
                             </span>
                         
                        </span>
                    </span>
               
                <span *ngIf="!this.lastPage; else disnext">
                    <li class="page-item"><a class="page-link" (click)="onNext()" href="#">Next</a></li>
                </span>
                <ng-template #disnext>
                <span>
                   <li class="page-item disabled"><a class="page-link" (click)="onNext()" href="#">Next</a></li>
                </span>
                </ng-template>
        </ul>
        <span *ngIf="page.startIdx + page.howMany <= page.totalCount else ultimapage">
                <span>{{ page.startIdx + 1 }} - {{ page.startIdx + page.howMany }} di {{ page.totalCount }}</span>
             </span> 
                 
             <ng-template #ultimapage>
                <span>{{ page.startIdx + 1 }} - {{ page.totalCount }} di {{ page.totalCount }}</span>
             </ng-template> 
      </nav> -->
        <!--   versione con numeri: da finire , gestire la disabilitazione dei numeri se non ci sono records.  -->

    </div>
</div>