/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/spid/css/spid-sp-access-button.min.css";

body {
    margin: 0px;
    font-family: Titillium Web,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

.content {
    max-width: 650px;
    margin: auto;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #AB201D;
    overflow: hidden;
    margin-bottom: 25px;
    box-shadow: 5px 5px 5px lightgrey;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.mat-tab-labels{
    background-color: white;
    
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
	background-color: #ab201d;
}

/* Change the color of links on hover */
.topnav a:hover {
    border-bottom: solid white 3px;
}

/* Add a color to the active/current link */
.topnav a.active {
    border-bottom: solid white 3px;
}

.light {
    color: gray;
    font-size: 80%;
}

mat-form-field {
    margin-right: 8px; 
}

.input-long {
    width: 400px;
}

.input-short {
    width: 150px;
}

.mb-small {
    margin-bottom: 20px;
}

.mt-large {
    margin-top: 50px;
}

.center {
    text-align: center;
}