/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/spid/css/spid-sp-access-button.min.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

body {
    margin: 0px;
    font-family: Titillium Web,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

.content {
    max-width: 650px;
    margin: auto;
}

.mat-tab-labels{
    background-color: white;
    
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
	background-color: #ab201d;
}

.light {
    color: gray;
    font-size: 80%;
}

mat-form-field {
    margin-right: 8px; 
}

.input-long {
    width: 340px;
}

.input-short {
    width: 150px;
}

.mb-small {
    margin-bottom: 20px;
}

.mt-large {
    margin-top: 50px;
}

.center {
    text-align: center;
}

.field-val {
    font-weight: bold;
}